*{
  box-sizing: border-box;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
font-family:'Roboto';
margin: 0;
color: #f2f2f2;
}
p {
text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear{
  animation: vanish 5s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.containers {
color: #e5e5e5;
font-size: 200%;
text-transform: uppercase;
height: 70%;
display: flex;
align-items: center;
justify-content: center;
}

#form a{
  color:#20a7d8;
}
.animation {
height:50px;
overflow:hidden;
margin-left: 1rem;
}

.animation > div > div {
padding: 0.25rem 0.5rem;
height:2.9rem;
margin-bottom: 2.81rem;
display:inline-block;
}

.animation div:first-child {
animation: text-animation 8s infinite;
}

.first div {
background-color:#20a7d8;
}
.second div {
background-color:#CD921E;
}
.third div {
background-color:#c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.65rem;
  }
  30% {
    margin-top: -5.65rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.65rem;
  }
  80% {
    margin-top: -5.65rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.main {
  background: linear-gradient(black, aqua); 
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  transition: top 5s;
}

.Main {
  overflow: hidden;
  padding: 10px;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
}

.img1 {
  width: 400px;
  height: 400px;
  float: right;
  margin-left: 9px;
  margin-right: 207px;
  margin-bottom: -2px;
}

.p1 {
  float: right;
  left: 0px;
  width: 500px;
}

.img2 {
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 32px;
  margin-left: 186px;
  margin-right: 10px;
  margin-bottom: 19px;
}

.p2 {
  float: left;
  margin-top: 100px;
  left: 50px;
  width: 600px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 768px) {
  .clearfix {
    width: 100%;
  }

  .clearfix, .p1,.p2 {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 480px) {
  .clearfix,.p1,.p2 {
    padding: 30px 10px;
    font-size: 140%;
  }
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .containers {
    font-size: 100%;
  }

  .img1,
  .img2 {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }

  .p1,
  .p2 {
    float: none;
    width: 100%;
    margin-top: 16px;
  }
}

@media screen and (max-width: 480px) {
  .containers {
    font-size: 100%;
  }

  .Main {
    padding: 5px;
  }

  .img1,
  .img2 {
    margin: 0;
  }

  .p1,
  .p2 {
    margin-top: 8px;
  }
}

/* Style tab links */
.tablink {
  background-color: rgb(25, 27, 28);
  color: white;
  float: left;
  border: none;
  padding: 2%;
  font-size: 100%;
  width: 55%;
  position: relative;
  background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%,
  rgba(0,0,0,0.8) 60%, 
  rgba(0,0,0,1) 90%), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
	background-size: cover;
}

.tablink:hover {
  background: rgb(25, 27, 28);
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .tablink {
    width: 100%;
  }

  .tabcontent {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 480px) {
  .tablink,
  .tabcontent {
    padding: 30px 10px;
    font-size: 60%;
  }
}


/* TEXT ANIMATION*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
  padding: 0;
  margin: 0; 
  background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%,
  rgba(0,0,0,0.8) 60%, 
  rgba(0,0,0,1) 90%), 
  url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
	background-size: fixed;
  font-family: 'Poppins', sans-serif;
}

@import "compass/css3";

/* night neon */
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);
@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

/* Text move in monitor */
h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300%;
  animation: lights 5s 750ms linear infinite;
}

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}){ 
    animation-delay: #{(3 + ($item/10))}s; 
  }
} 
.center{
  position: relative;
  display: flex;
  float: left;
  margin: auto;
}

.table {
  width: 95%;
  height: 150px;
  background-color: #d4e5ff;
}
.table .monitor-wrapper {
  background: #050321;
  width: 95%;
  height: 130px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor {
  width: 95%;
  height: 100px;
  background-color: #344151;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor p {
  font-family: "VT323", monospace;
  font-size: 100px;
  position: relative;
  display: inline-block;
  animation: move 20s infinite linear;
  color: #EBB55F;
}

@keyframes move {
  from {
    left: 800px;
  }
  to {
    left: -4800px;
  }
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Text shinning*/
.shinning p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  text-align: center;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

h3 {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSid5hgUUpgL6Qz1jSemiPhgeoKBDj-dAngIUqMSu1vFsvibb52SFIlND_zlFTL4QHRCNU&usqp=CAU);
  -webkit-background-clip: text;
  background-size: contain;
  width: 100%;
  text-align: center;
  color: transparent;
  font-weight: 900;
  font-size: 3em;
}

/* TEXT Waviy*/
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
  text-align: center;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));

}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* MEME TABS*/
.R {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}

.C {
  flex: 25%;
  padding: 0 4px;
}

.C img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%
}

footer iframe{
  height:auto;
  width:700px;
  padding-top: 100px;
}